/**
*----------------------------------
* CSS PingSmart
* Bandung 1 Jan 2019
*----------------------------------
*/

body{

  font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
}

/*------------Menu & Content BG------------------*/

#menupage .page__background { background-color: #ffffff; }
#contentpage .page__background{
  background-color: #98ceea;
}

/** Link 
*-----------------------------------
*/

a:link {
    color: #0076ff;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #0076ff;
}

/* mouse over link */
a:hover {
    color: #275c90;
}

/* selected link */
a:active {
    color: #275c90;
}

/** Login 
*-----------------------------------
*/
.title_login{
  margin-top: 100px; 
  padding-left:10px; 
  text-align: center;
  font-size: 20px;
  font-weight: 400px;
  color: #737373;
}

.text-input--underbar {
    background: 0 0;
    line-height: 1;
    font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-size: 16px;
    font-weight: 400;
    border-bottom: 1px solid #fff;
    border-radius: 0;
}

.text-input-reg {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
   padding-left: 5px;
}

.text-input-edit {
   border: 1px solid #ccc;
   font-size: 12px;
   height: 30px;
   width: 268px;
   padding-left: 5px;
}

.text-input-edit-nomor-ktp{
   border: 1px solid #ccc;
   font-size: 12px;
   height: 30px;
   width: 80px;
   padding-left: 5px;
}
.text-input-edit-tanggal-ktp{
   border: 1px solid #ccc;
   font-size: 12px;
   height: 30px;
   width: 80px;
   padding-left: 5px;
}

.styled-select.slatekk-mm select {
   border: 1px solid #ccc;
   font-size: 12px;
   height: 34px;
   width: 274px;
   padding-left: 5px;
   background-color: #4db8ff;
}

.styled-select.slatekk-kl select {
   border: 1px solid #ccc;
   font-size: 12px;
   height: 34px;
   width: 274px;
   padding-left: 5px;
   background-color: #1affd1;
}

.styled-select.slatekk-cad select {
   border: 1px solid #ccc;
   font-size: 12px;
   height: 34px;
   width: 274px;
   padding-left: 5px;
   background-color: #66ff66;
}

.styled-select.slatekk select {
   border: 1px solid #ccc;
   font-size: 12px;
   height: 34px;
   width: 274px;
   padding-left: 5px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 274px;
   padding-left: 5px;
}

a.log-a {
  font-family: -apple-system,'Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}